.infoWrapper {
  margin: 20px 0;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  align-content: stretch;
}

.info {
  flex: 0 0 auto;
  margin: 5px;
  padding: 5px 10px;
  font-weight: bold;
  border: 1px solid black;
}
