.ivinfoWrapper {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    align-content: stretch;
}

.ivinfo {
    flex: 0 0 auto;
    margin: 5px;
    padding: 5px 10px;
    font-weight: bold;
    border: 1px solid black;
}

.ivprocessed {
    background-color: #bbffbb !important;
}
